body{
    font-family: sans-serif;
    margin: 0;
    background-color: #F6F8FA;
}
.div1{
    height: 55px;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
}
.div5{
    height: 55px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #E3E7ED;
    background-color: #FFFFFF;
}
.img1{
    margin-left: -8px;
    height: 38px;
    width: 200px;
}
.flex{
    display: flex;
}
.button1{
    padding: 8px 20px;
    border: none;
    background-color: #564190;
    font-size: 15px;
    cursor: pointer;
    color: white;
}
.button2{
    padding: 8px 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid white;
    font-size: 15px;
    background-color: white;
    cursor: pointer;
    margin-right: 10px;
}
.button3{
    padding: 8px 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid white;
    font-size: 15px;
    background-color: white;
    cursor: pointer;
    margin-right: 10px;
}
.button4{
    padding: 8px 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid white;
    font-size: 15px;
    background-color: white;
    cursor: pointer;
    margin-right: 10px;
}
.button5{
    padding: 8px 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid white;
    font-size: 15px;
    background-color: white;
    cursor: pointer;
    margin-right: 10px;
}
.button6{
    padding: 8px 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid white;
    font-size: 15px;
    background-color: white;
    cursor: pointer;
    margin-right: 10px;
}
.button2:hover{
    border-color: red;
}
.button3:hover{
    border-color: red;
}
.button4:hover{
    border-color: red;
}
.button5:hover{
    border-color: red;
}
.button6:hover{
    border-color: red;
}
#select1{
    margin-right: 10px;
    padding: 8px;
    border-color: red;
    cursor: pointer;
    background-color: white;
    border: 1px solid red;
    padding-right: 10px;
    font-size: 15px;
}
#select1:hover{
    background-color: #f9ecec;
    border: 1px solid rgb(244, 188, 188);
}
.font1{
    padding: 7px;
    border-radius: 50%;
    background-color: #FFB917;
    font-size: 13px;
    color: #183153;
}
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 15px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    transform: translateX(24px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  #div2{
    position: fixed;
    margin-left: 90%;
    margin-top: 30px;
    border-radius: 7px;
    text-align: center;
  }
  .div3{
    padding-top: 20px;
    text-align: center;
    width: 80px;
    height: 70px;
    background-color: white;
    border: 1px solid #E3E7ED;
  }
  .button8{
    background-color: #004C0F;
    color: white;
    padding: 10px;
    border: #004C0F ;
    margin-top: 10px;
    
  }
  .span1{
    border: 2px solid white;
    font-size: 14px;
  }
  .label5{
    margin-top: 5px;
  }

  #div7{
    padding-top: 20px;
    height: 100px;
    background-color: white;
    cursor: pointer;
    margin-left: 10px;
    display: none;
  }

  #span3{
    background-color: #1E70B9;
    padding: 10px;
    color: white;
    cursor: pointer;
    border-bottom: 1px solid #E3E7ED;
  }
  #span4{
    background-color: white;
    padding: 10px;
    border-bottom: 1px solid #E3E7ED;

  }
  #span4:hover{
    padding: 10px;
    background-color: rgb(244, 239, 239);
    cursor: pointer;
  }
 
  #span5{
    background-color: white;
    padding: 10px;
    border-bottom: 1px solid #E3E7ED;
  }
  
  #span5:hover{
    padding: 10px;
    background-color: rgb(244, 239, 239);
    cursor: pointer;
  }
  #span6{
    background-color: white;
    padding: 10px;
    border-bottom: 1px solid #E3E7ED;
  }
  #span6:hover{
    padding: 10px;
    background-color: rgb(244, 239, 239);
    cursor: pointer;
  }
  #span7{
    background-color: white;
    padding: 10px;
    border-bottom: 1px solid #E3E7ED;
    margin-left: 5px;

  }
  #span7:hover{
    padding: 10px;
    background-color: rgb(244, 239, 239);
    cursor: pointer;
  }
  #span8{
    background-color: white;
    margin-left: 15px;
    padding: 10px;
    border-bottom: 1px solid #E3E7ED;
    margin-left: 5px;

  }
  #span8:hover{
    padding: 10px;
    background-color: rgb(244, 239, 239);
    cursor: pointer;
  }
  #span9{
    background-color: white;
    padding: 10px;
    border-bottom: 1px solid #E3E7ED;
    margin-left: 5px;
  }
  #span9:hover{
    padding: 10px;
    background-color: rgb(244, 239, 239);
    cursor: pointer;
  }
  #span10{
    background-color: white;
    padding: 10px;
    border-bottom: 1px solid #E3E7ED;
    margin-left: 5px;
  }
  #span10:hover{
    padding: 10px;
    background-color: rgb(244, 239, 239);
    cursor: pointer;
  }
  #span11{
    background-color: white;
    padding: 10px;
    border-bottom: 1px solid #E3E7ED;
    margin-left: 80px;
    line-height: 6;
  }
  #span11:hover{
    padding: 10px;
    background-color: rgb(244, 239, 239);
    cursor: pointer;
  }
  .flg{
    height: 15px;
    width: 22px;
    margin-right: 5px;
  }

















  .footer1{
    margin-top: 1000px;
  }