body{
    font-family: sans-serif;
    margin: 0;
    background-color: #F6F8FA;
}
.div1{
    height: 55px;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
}
.div5{
    height: 55px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #E3E7ED;
    background-color: #FFFFFF;
}
.img1{
    margin-left: -8px;
    height: 38px;
    width: 200px;
}
.flex{
    display: flex;
}
.button1{
    padding: 8px 20px;
    border: none;
    background-color: #564190;
    font-size: 15px;
    cursor: pointer;
    color: white;
}
.button2{
    padding: 8px 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid white;
    font-size: 15px;
    background-color: white;
    cursor: pointer;
    margin-right: 10px;
}
.button3{
    padding: 8px 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid white;
    font-size: 15px;
    background-color: white;
    cursor: pointer;
    margin-right: 10px;
}
.button4{
    padding: 8px 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid white;
    font-size: 15px;
    background-color: white;
    cursor: pointer;
    margin-right: 10px;
}
.button5{
    padding: 8px 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid white;
    font-size: 15px;
    background-color: white;
    cursor: pointer;
    margin-right: 10px;
}
.button6{
    padding: 8px 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid white;
    font-size: 15px;
    background-color: white;
    cursor: pointer;
    margin-right: 10px;
}
.button2:hover{
    border-color: red;
}
.button3:hover{
    border-color: red;
}
.button4:hover{
    border-color: red;
}
.button5:hover{
    border-color: red;
}
.button6:hover{
    border-color: red;
}
#select1{
    cursor: pointer;
    background: none;
    font-size: 15px;
    border: none;
}
#select12{
  color: red;
  border: 1px solid red;
  padding: 8px;
  cursor: pointer;
}
#select12:hover{
  background-color: #f9ecec;
  border: 1px solid rgb(244, 188, 188);

}
#select1:hover{
    background-color: #f9ecec;
}
.font1{
    padding: 7px;
    border-radius: 50%;
    background-color: #FFB917;
    font-size: 13px;
    color: #183153;
}
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 15px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    transform: translateX(24px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  #div2{
    position: fixed;
    margin-left: 90%;
    margin-top: 30px;
    border-radius: 7px;
    text-align: center;
  }
  .div3{
    padding-top: 20px;
    text-align: center;
    width: 80px;
    height: 70px;
    background-color: white;
    border: 1px solid #E3E7ED;
  }
  .button8{
    background-color: #004C0F;
    color: white;
    padding: 10px;
    border: #004C0F ;
    margin-top: 10px;
    
  }
  .span1{
    border: 2px solid white;
    font-size: 14px;
  }
  .label5{
    margin-top: 5px;
  }

  #div7{
    padding-top: 20px;
    height: 100px;
    background-color: white;
    cursor: pointer;
    margin-left: 10px;
    display: none;
    
  }


  .flg{
    height: 15px;
    width: 22px;
    margin-right: 5px;
  }
.div4{
  margin-top: 200px;
  border:  2px solid red;
  width: 750px;
  margin-left: 50px;
  text-align: center;
  background-color: white;
  
}
#span12{
  font-size: 14px;

}
#input1{
  resize: none;
  width: 700px;
  height: 250px;
  margin-top: 200px;
  outline: none;
  background-color: #F6F8FA;
  border: none;
  
}
.div13{
  width: 700px;
  height: 50px;
  display: flex;
  margin-left: 18px;
  gap: 10px;

}
.span14{
  font-size: 24px;
  cursor: pointer;
  margin-left: 5px;
  border: 1px solid;
  color: #ffff;
  background-color: #183153;
  height: 30px;
  padding: 5px;
}
.span14:hover{
  color: black;
  background-color: white;
}



.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(0, 0, 0);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  top: -40px;
  right: -30px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
#button-15{
  background-color: #f2f5f7;
  padding: 10px;
  border: 1px solid rgb(216, 216, 216);
  cursor: pointer;
}
#button-16{
  margin-left: 10px;
  background-color: #f2f5f7;
  padding: 10px;
  border: 1px solid rgb(216, 216, 216);
  cursor: pointer;

}
#button-17{
  margin-left: 10px;
  background-color: #f2f5f7;
  padding: 10px;
  border: 1px solid rgb(216, 216, 216);
  cursor: pointer;

}
#button-18{
  margin-left: 10px;
  background-color: #f2f5f7;
  padding: 10px;
  border: 1px solid rgb(216, 216, 216);
  cursor: pointer;

}
#button-19{
  margin-left: 10px;
  background-color: #f2f5f7;
  padding: 10px;
  border: 1px solid rgb(216, 216, 216);
  cursor: pointer;

}
#button-20{
  margin-left: 10px;
  background-color: #f2f5f7;
  padding: 10px;
  border: 1px solid rgb(216, 216, 216);
  cursor: pointer;

}















  .footer1{
    margin-top: 1000px;
  }